<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
	    <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", albums_path  %></li>
  		<li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_album_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Albums</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
										<th>
					<%= t("activerecord.attributes.album.artist_id", :default => t("activerecord.labels.artist_id", :default => "Artist_id")) %>
</th>
					          <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @albums.each do |album| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= album.id %>
          </td>
										<td>
						<%= link_to album.artist_id, album_path(album) %>
					</td>
										<td>
            <%= album.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", album_path(album) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_album_path(album) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", album_path(album), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>