<div id="box">
  <div class="block" id="block-login">

    <h2>Login</h2>
    <div class="content login">
      <% form_for @user_session, :url => user_session_path, :html => { :class => 'form login' } do |f| %>
        <div>&nbsp;</div>

        <div class="group wat-cf">
          <div class="left">
            <%= f.label :login, 'Login', :class => 'label right' %>
          </div>
          <div class="right">
            <%= f.text_field :login, :class => 'text_field' %>
          </div>
        </div>

        <div class="group wat-cf">
          <div class="left">
            <%= f.label :password, 'Password', :class => 'label right' %>
          </div>
          <div class="right">
            <%= f.text_field :password, :class => 'text_field' %>
          </div>
        </div>

        <div class="group wat-cf navform">
          <div class="right">
            <button class="button" type="submit">
              <%= image_tag('web-app-theme/key.png', :alt => 'Login') %>
              Login
            </button>
          </div>
        </div>

      <% end %><%# form_for %>
    </div>
  </div><%# end #block-login %>
</div><%# end #box %>
