<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= AppConfig[:name] %></title>
	<%= stylesheet_link_tag "web_app_theme", "web_app_theme_override", "themes/default/style", :cache => true %>
  <%= javascript_include_tag 'jquery', 'application' %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1>
        <%= link_to AppConfig[:name], root_path %>
        <span>It's time to fuckin' jam.</span>
      </h1>

      <%= render :partial => 'shared/user_navigation' %>
      <%= render :partial => 'shared/main_navigation' %>
    </div><%# end #header %>

    <div id="wrapper" class="wat-cf">
      <div id="main">
        <%= render :partial => 'shared/messages' %>

        <%= yield %>

        <div id="footer">
          <div class="block">
            <p><a href="http://github.com/oshuma/jamtime">oshuma.github.com/jamtime</a></p>
          </div>
        </div><%# end #footer %>
      </div><%# end #main %>

      <div id="sidebar">
        <%= render :partial => 'shared/stats' %>
        <%= yield :sidebar %>
      </div>

    </div><%# end #wrapper %>
  </div><%# end #container %>
</body>
</html>
