<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= AppConfig[:name] %></title>
	<%= stylesheet_link_tag "web_app_theme", "web_app_theme_override", "themes/default/style", :cache => true %>
  <%= javascript_include_tag 'jquery', 'application' %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1>
        <%= link_to AppConfig[:name], root_path %>
        <span>It's time to fuckin' jam.</span>
      </h1>

      <div id="user-navigation">
        <ul class="wat-cf">
          <% if logged_in? %>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li>
              <%= link_to('Logout', logout_path, :class => 'logout') %>
            </li>
          <% else %>
            <li>
              <%= link_to('Login', login_path, :class => 'login') %>
            </li>
          <% end %>
        </ul>
      </div><%# end #user-navigation %>

      <div id="main-navigation">
        <ul class="wat-cf">
          <%= link_with_active('Browse', root_path, :class => 'first') %>
          <li class="<%= controller.controller_path == 'artists' ? 'active' : '' %>"><a href="<%= artists_path %>">Artists</a></li>
      </div><%# end #main-navigation %>
    </div><%# end #header %>

    <div id="wrapper" class="wat-cf">
      <div id="main">
        <% if messages_waiting? %>
          <div class="flash">
            <% flash.each do |type, message| -%>
              <div class="message <%= type %>">
                <p><%= message %></p>
              </div>
            <% end -%>
          </div><%# end #flash %>
        <% end %>

        <%= yield %>

        <div id="footer">
          <div class="block">
            <p><a href="http://oshuma.github.com/">oshuma.github.com</a></p>
          </div>
        </div><%# end #footer %>
      </div><%# end #main %>

      <div id="sidebar">
        <div class="block">
          <h3>Stats</h3>
          <ul class="navigation">
            <li><%= link_to("Artists: #{Artist.count}", artists_path) %></li>
            <li><%= link_to("Albums: #{Album.count}", '#') %></li>
            <li><%= link_to("Songs: #{Song.count}", '#') %></li>
        </div>
        <%= yield :sidebar %>
      </div>

    </div><%# end #wrapper %>
  </div><%# end #container %>
</body>
</html>
